<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="menu">
        <div class="left-part-menu">
            <ul>
                <li><a href="#">Početna stranica</a></li>
                <li><a href="#">O meni&#9660;</a>
                    <ul class="dropdown">
                        <li><a href="#">CV</a></li>
                        <li><a href="#">Motivaciono pismo</a></li>
                        <li><a href="#">Linkedin profil</a></li>
                        <li><a href="http://127.0.0.1:5000/youtube">Youtube profil</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="middle-part-menu">
            <a href="http://127.0.0.1:5000/youtube">
            <img class="logo" src="static/the-ball-game-logo.jpg">
            </a>

        </div>
        <div class="right-part-menu">
            <ul>
                <li><a href="#">Registrujte se</a></li>
                <li><a href="#">Prijavite se</a></li>
            </ul>
        </div>
    </div>


</body>
</html>